body{
  background-image:  url("https://cdn.pixabay.com/photo/2019/07/31/16/44/peaches-4375600_960_720.jpg");
  background-size: cover;

  }


.formulario{
  background-color: rgba(122, 115, 51, 0.5);
  border-radius: 10px;
  width: 75%;
  position: relative;
  left: -200px;
  top: 20%;
  
}

.titulo{
  color: black;
}

.input-group{
  width: 75%;
}