body{
  background-image:  url("https://cdn.pixabay.com/photo/2018/02/07/19/40/fruit-3137815_960_720.jpg");
  background-size: cover;

  }


.formulario{
  background-color: rgb(0, 0,0,0.5);
  border-radius: 10px;
  width: 75%;
  position: relative;
  left: 550px;
  top: 20%;
  
}

.titulo{
  color: whitesmoke;
}

.input-group{
  width: 75%;
}