body{
  background-image:  url("https://cdn.pixabay.com/photo/2018/09/24/18/02/acorn-3700512_960_720.jpg");
  background-size: cover;

  }


.formulario{
  background-color: rgba(201, 188, 108, 0.87);
  border-radius: 10px;
  width: 75%;
  position: relative;
  left: 500px;
  top: 40%;
  
}

.titulo{
  color: black;
}

.input-group{
  width: 60%;
}
