body{
  background-image:  url("https://cdn.pixabay.com/photo/2015/11/07/11/31/fruit-1031205_960_720.jpg");
  background-size: cover;

  }


.formulario{
  background-color: rgb(0, 0,0,0.5);
  border-radius: 10px;
  width: 75%;
  position: relative;
  left: 100px;
  top: 20%;
  
}

.titulo{
  color: whitesmoke;
}

.input-group{
  width: 75%;
}